<footer class="site-footer">
  <div>
    <h4>Site</h4>
    {{ range .Site.Menus.main }}
      <div><a href="{{ .URL }}">{{ .Name }}</a></div>
    {{ end }}
  </div>
  <div>
    <h4>Elsewhere</h4>
    {{ with .Site.Params.footer.Contact }}<div><a href="{{ . }}">email</a></div>{{ end }}
    {{ with .Site.Params.footer.GitHub }}<div><a href="{{ . }}">github</a></div>{{ end }}
    {{ with .Site.Params.footer.LinkedIn }}<div><a href="{{ . }}">linkedin</a></div>{{ end }}
    {{ with .Site.Params.footer.Mastodon }}<div><a href="{{ . }}">mastodon</a></div>{{ end }}
  </div>
</footer>
<script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript"></script>
<script type="application/javascript">
  littlefoot.littlefoot()
</script>
</body>
</html>
