                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a href="mailto:giovanni at this domain?subject=feedback">Contact me</a></li>
                            <li><a href="http://twitter.com/gglanzani/">Twitter</a></li>
                            <li><a href="http://github.com/gglanzani/pure/">GitHub</a></li>
                            <li><a href="http://pinboard.in/u:gglanzani">Pinboard</a></li>
                            <li><a href="https://www.flickr.com/photos/gglanzani/">Flickr</a></li>
                            <li><a href="http://nl.linkedin.com/pub/giovanni-lanzani/24/618/195">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div> <!-- closes layout class in sidebar.html -->
    </body>
</html>
<script src="/js/ui.js"></script>
