<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" {{ .Summary }} ">
    {{ partial "opengraph.html" . }} 

    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <meta name="author" content="Giovanni Lanzani" />

    {{ if .Site.Params.Rss }}
      <link rel="alternate" type="application/rss+xml" title="blog.lanzani.nl » Feed" href="{{ .Site.Params.Rss }}">
    {{ end }}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
    @font-face {
    font-family: 'Tofino';
  	src: url('/css/Tofino-RegularPersonal.woff2') format('woff2');
  	font-weight: normal;
  	font-style: normal;
  	}

    @font-face {
    font-family: 'Tofino';
  	src: url('/css/Tofino-RegularItalicPersonal.woff2') format('woff2');
  	font-weight: normal;
  	font-style: italic;
  	}


    body {
      font-family: 'Tofino';
      font-weight: normal;
    }
    h1 {
      font-family: 'Tofino';
    }
    </style>
  </head>

  <body>
