{{- if .IsPage }}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<meta property="article:section" content="{{ .Section }}" />
{{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{ with .Lastmod }}<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- end -}}

{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}{{- range . }}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end }}{{ end }}

{{/* Generate opengraph image */}}
{{- if .IsPage -}}
  {{ $base := resources.Get "og_standard.png" }}
  {{ if fileExists "assets/og_base.png"}}
    {{ $base = resources.Get "og_base.png" }}
  {{ end }}

  {{ $boldFont := resources.Get "/Inter-SemiBold.ttf"}}
  {{ $mediumFont := resources.Get "/Inter-Medium.ttf"}}

  {{/* Title - large and prominent, centered vertically in upper area */}}
  {{ $img := $base.Filter (images.Text .Page.Title (dict
    "color" "#ffffff"
    "size" 56
    "linespacing" 8
    "x" 60
    "y" 180
    "font" $boldFont
  ))}}

  {{/* Author and date - below the separator line */}}
  {{ $date := time.Format "January 2, 2006" .Date }}
  {{ $author := .Site.Params.author }}
  {{ with .Page.Params.author }}
    {{ $author = .}}
  {{ end }}
  {{ $byline := printf "%s  •  %s" $author $date }}
  {{ $img = $img.Filter (images.Text $byline (dict
    "color" "#b0b0b0"
    "size" 24
    "linespacing" 2
    "x" 60
    "y" 520
    "font" $mediumFont
  ))}}

  {{/* URL/permalink at the bottom */}}
  {{ $img = $img.Filter (images.Text .Permalink (dict
    "color" "#808080"
    "size" 20
    "linespacing" 2
    "x" 60
    "y" 565
    "font" $mediumFont
  ))}}

  {{ $img = resources.Copy (path.Join .Page.RelPermalink "og.png") $img }}

  <meta property="og:image" content="{{$img.Permalink}}" />
  <meta property="og:image:width" content="{{$img.Width}}" />
  <meta property="og:image:height" content="{{$img.Height}}" />
  <meta name="twitter:image" content="{{$img.Permalink}}" />


  <!-- Twitter metadata (used by other websites as well) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ end }}
