{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pure-g">
  <div class="pure-u-1">
    <nav role="pagination" class="pagination">
        {{ if .Paginator.HasPrev }}
        <a href="{{.Paginator.Prev.URL}}" class="pure-button">
          <i class="fa fa-minus"></i>
        </a>
        {{ end }}
      <span class="">{{.Paginator.PageNumber}}/{{.Paginator.TotalPages}}</span>
      {{ if .Paginator.HasNext }}
        <a href="{{.Paginator.Next.URL}}" class="pure-button">
          <i class="fa fa-plus"></i>
        </a>
      {{ end }}
    </nav>
  </div>
</div>
{{ end }}
