                            </div>
                            <div>
                            <script>
                                window.onload = function() {
                                document.getElementById("blog-active").className = "menu-item-divided pure-menu-selected pure-menu-item";
                                };
                            </script>
                            </div>
                        </section>
                        </div>
                    </div>
                </div>
